@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to my first RAZOR PAGE project</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="/images/c626a4bb-d820-47df-bf8e-35e4882e54f0_37272-mototsikl_yamaha_yzf_r6_chernyiy.jpg" class="w-50 img-fluid img-thumbnail" alt="Kowpak Evgeniy"/>
    </div>
</div>